<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <% include partials/head %>
  </head>
  <body>

  <% include partials/navigation %>
  
  <div id="fh5co-page">
    <header>
      <% include partials/header %>
    </header>

    <div id="fh5co-services-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 heading-section">
             <h2 calss="text-center">Our Mission</h2>
            <p>Every day, we come across quite a lot of People Missing (especially, children) cases as FaceBook/WhatsApp forwards, and with a lot of good hope, we too do our share, by clicking the Share/Forward button on those.</p>

<p>But how many of those are really valid and still relevant? That is a thought that often comes across our mind.</p>

<p>How do we track those messages? And how do we track the reach of these messages we forward?
</p>

<p>Instead of just passing on these as unstructured daily forwards, it would be very useful and more efficient if we could have these passed through a structured system. A system with proper tracking of each such missing case. And with such a structured system, there comes a lot of advantages:</p>
<ol>
  <li>People can track the reach of the message. With the help of facebook promotions we can spread the news to places where the news yet to be reached.
</li>
  <li>We can appreciate every single person who shared the news when we find the missing person.</li>
  <li>We can verify the authenticity of the news.</li>
  <li>In third world countries such as India and those in Africa, where language can sometimes be a barrier for spreading such news, we can localize the news in different languages to make it more reachable.</li>
  <li>We will help people to upload photos and match with our database, if they find someone lost, to identify the person and their details.
</li>
  <li>People can check the status of such news shared in our platform using our intelligent chatbot which will be the interface for visitors to using our system.</li>
</ol>

          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 heading-section">
            <h2 calss="text-center">Implementation details</h2>
            <p>We will have a <a href="https://www.facebook.com/waytohome.org/">Facebook page</a> with an intelligent chatbot application to collect information from people. People can upload photos, name of the missing person, identification marks, place from where the person went missing, date since the person went missing, and any other information they can provide.</p>
            <p>We will collect these information in our database, into a structured format, and then share it with people who have subscribed to our <a href="https://www.facebook.com/waytohome.org/">Facebook page.</a></p>
            <p>People can use the chatbot application to know the reach of the news they shared, can mark a news as Completed when the missing person has been found. We will notify the people subscribed to the page about the success of each case.</p>
            <p>When people mark a case as Found, we will change the preview image to an image saying the search has been completed for that specific person. We can use the Graph API
(<a href="https://developers.facebook.com/blog/post/2017/06/27/API-Change-Log-Modifying-Link-Previews/">https://developers.facebook.com/blog/post/2017/06/27/API-Change-Log-Modifying-Link-Previews/</a>) for this.
</p>

          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 heading-section">
            <h2 calss="text-center">Community</h2>
            <p>A system for the society, is nothing without people. This system is just a tool.
It is a community of well-wishers that we plan to build, engage, and mobilize, around this good cause. And this system will be a tool for the community to make use of in its aim towards getting every lost person back to their homes, safe and sound.</p>
<p>Hope this will help a lot of people to reach back their homes.</p>

          </div>
        </div>
      </div>
    </div>
    <!-- End: fh5co-services-section -->
    <footer>
    <% include partials/footer %>
    </footer>
  
  </div>

  <!-- jQuery -->
  <script src="js/jquery.min.js"></script>
  <!-- jQuery Easing -->
  <script src="js/jquery.easing.1.3.js"></script>
  <!-- Bootstrap -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Waypoints -->
  <script src="js/jquery.waypoints.min.js"></script>
  <!-- Portfolio Filter Mixitup -->
  <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>

  <!-- Main JS (Do not remove) -->
  <script src="js/main.js"></script>

  <script type="text/javascript"> 
  </script>
  </body>
</html>